<!DOCTYPE html>
<html>
<head>
	<title>What Should I Watch Next</title>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<!--<script type="text/javascript" src="/static/js/cssrefresh.js"></script>-->
	<link rel="stylesheet" href="http://css-spinners.com/css/spinner/three-quarters.css" type="text/css">
</head>
<body>

<center><h1 class="header"><a href="/">What Should I Watch Next?</a></h1></center>

<div class="container">
	{% block content %}



	{% endblock %}
</div>

<div class="wait">
<center>
<div class="spinner">
<div class="three-quarters">
    Loading...
</div>
<br>
Weeding out bad movies..
</div>
</center>
</div>

</body>
</html>